<ion-content>
  <div class="content">
    <ion-item class="input">
      <ion-input placeholder="Cerca" color="secondary"></ion-input>
      <ion-icon name="search" slot="end" class="white"></ion-icon>
    </ion-item>

    <div class="inviteContent">
      <div
        class="userContent"
        *ngFor="let user of usersInfoModified"
        (click)="selectUser(user)"
      >
        <div class="userImg">immagine</div>
        <p class="userName">
          <b>{{ user.firstName + ' ' + user.lastName }}</b> <br />
          <i *ngIf="user.description" class="userDescription">{{
            user.description
          }}</i>
          <i *ngIf="!user.description" class="userDescription"
            >Utente dell'app</i
          >
        </p>
        <ion-icon
          [ngClass]="user.isInvited ? 'green' : 'red'"
          name="checkmark-circle-outline"
          class="check"
        ></ion-icon>
      </div>
    </div>

    <div class="buttonContent">
      <ion-button (click)="close(false)" class="button skyBlueButton"
        >Annulla</ion-button
      >
      <ion-button (click)="close(true)" class="button whiteButton"
        >Conferma</ion-button
      >
    </div>
  </div>
</ion-content>
