<ion-content>
  <div style="padding: 0 3%;">
    <ion-item class="input">
      <ion-input
        placeholder="Cerca"
        color="secondary"
        [(ngModel)]="search"
      ></ion-input>
      <ion-icon
        name="search"
        slot="end"
        class="white"
        (click)="filterUsers()"
      ></ion-icon>
    </ion-item>

    <div class="inviteContent">
      <p class="noUser" *ngIf="displayedUsers.length === 0">
        {{ isInviting ? 'Nessun utente' : 'Nessuna conferma' }}
      </p>
      <div
        class="userContent"
        *ngFor="let user of displayedUsers"
        (click)="selectUser(user.userName)"
      >
        <img class="userImg" [src]="user.profileImg" />
        <p class="userName">
          <b>{{ user.firstName + ' ' + user.lastName }}</b> <br />
          <i *ngIf="user.description" class="userDescription">{{
            user.description
          }}</i>
          <i *ngIf="!user.description" class="userDescription"
            >Utente dell'app</i
          >
        </p>
        <ion-icon
          [ngClass]="user.isInvited ? 'green' : 'red'"
          name="checkmark-circle-outline"
          class="check"
        ></ion-icon>
      </div>
    </div>

    <div class="buttonContent">
      <ion-button (click)="close(false)" class="button skyBlueButton">{{
        isInviting ? 'Annulla' : 'Chiudi'
      }}</ion-button>
      <ion-button
        *ngIf="isInviting"
        (click)="close(true)"
        class="button whiteButton"
        >Conferma</ion-button
      >
    </div>
  </div>
</ion-content>
