ion-content {
  --ion-background-color: var(--primary-bg-color-red);
}

ion-item {
  --border-color: var(--primary-bg-color-white);
}

.white {
  color: var(--primary-bg-color-white);
}

.red {
  color: var(--primary-bg-color-red);
}

.check {
  width: 20px;
  height: 20px;
}

.green {
  color: rgb(0, 253, 0);
}

.input {
  margin-bottom: 15px;
}

.userContent {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.inviteContent {
  max-height: 280px;
  overflow-y: scroll;
}

.userImg {
  background-color: gray;
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.userName {
  max-height: 70px;
  overflow-y: hidden;
  max-width: 70%;
  font-family: Gloria;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.noUser {
  width: 100%;
  margin-top: 3%;
  text-align: center;
  font-family: Gloria;
  font-size: 14px;
}

.userDescription {
  font-size: 14px;
}

.buttonContent {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.button {
  width: 40%;
  --border-radius: 20px;

  font-family: Rubik;
  text-transform: none;
}

.whiteButton {
  color: var(--primary-bg-color-red);
  --background: var(--primary-bg-color-white);
}

.skyBlueButton {
  color: var(--primary-bg-color-red);
  --background: var(--primary-bg-color-sky-blue);
}
