<ion-header no-border>
  <app-header
    [title]="'Calendario'"
    [userName]="userName"
    [isRed]="false"
    [isBackVisible]="true"
    [backTo]="'/calendario'"
  ></app-header>
</ion-header>

<ion-content>
  <div class="content">
    <div class="fullrow infoinsert displayflexbetween">
      <p class="halfrow text">Nome evento*:</p>
      <ion-input
        [(ngModel)]="eventName"
        placeholder="Nome evento"
        class="halfrow"
      ></ion-input>
    </div>
    <div class="fullrow infoinsert displayflexbetween">
      <p class="halfrow text">Luogo*:</p>
      <ion-input
        [(ngModel)]="eventPlace"
        placeholder="Luogo evento"
        class="halfrow"
      ></ion-input>
    </div>
    <div class="fullrow infoinsert displayflexbetween">
      <p class="halfrow text" style="margin: 0;">Data*:</p>
    </div>
    <div class="fullrow infoinsert displayflexbetween">
      <div class="halfrow displayflexbetween fromtopadding">
        <ion-datetime
          displayFormat="DD/MM/YYYY"
          placeholder="Data"
          [(ngModel)]="eventDate"
          [min]="minDate"
          [max]="maxDate"
          style="width: 100%;"
        ></ion-datetime>
      </div>
      <div class="halfrow displayflexbetween">
        <ion-datetime
          displayFormat="HH:mm"
          placeholder="Ora"
          [(ngModel)]="eventInitHour"
          style="width: 100%;"
        ></ion-datetime>
      </div>
    </div>
    <div class="fullrow infoinsert displayflexbetween">
      <p class="halfrow text">Descrizione:</p>
    </div>
    <div class="fullrow infoinsert displayflexbetween">
      <ion-input
        [(ngModel)]="eventDescription"
        placeholder="Descrizione"
        class="fullrow description"
      ></ion-input>
    </div>
    <div class="fullrow infoinsert displayflexbetween">
      <p class="text">Aggiungi tipologia evento:</p>
      <ion-fab horizontal="end" class="addType" #fab>
        <ion-fab-button class="menu">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button
            *ngFor="let fab of fabButtonsTop; let i = index"
            (click)="selectFabTop(i)"
          >
            <ion-icon
              [name]="fab.icon"
              [ngClass]="fab.isSelected ? 'selected' : 'unselected'"
            ></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
          <ion-fab-button
            *ngFor="let fab of fabButtonsLeft; let i = index"
            (click)="selectFabLeft(i)"
          >
            <ion-icon
              [name]="fab.icon"
              [ngClass]="fab.isSelected ? 'selected' : 'unselected'"
            ></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>

    <ion-button
      color="primary"
      class="button"
      (click)="presentModal()"
      [disabled]="isPageDisabled"
      >Invita gente</ion-button
    >
    <ion-button
      (click)="createEvent()"
      color="primary"
      class="button"
      [disabled]="
        !eventDate ||
        !eventName ||
        !eventPlace ||
        !eventInitHour ||
        isPageDisabled
      "
      >Conferma</ion-button
    >
  </div>
</ion-content>

<ion-footer no-border>
  <app-footer [isRed]="false"></app-footer>
</ion-footer>
