<ion-header no-border>
  <app-header
    [title]="'Calendario'"
    [userName]="userName"
    [isRed]="false"
    [isBackVisible]="true"
    [backTo]="'/calendario'"
  ></app-header>
</ion-header>

<ion-content>
  <div class="content">
    <div class="fullrow infoinsert displayflexbetween">
      <p class="halfrow text">Nome evento:</p>
      <ion-input placeholder="Nome evento" class="halfrow"></ion-input>
    </div>
    <div class="fullrow infoinsert displayflexbetween">
      <p class="halfrow text">Luogo:</p>
      <ion-input placeholder="Luogo evento" class="halfrow"></ion-input>
    </div>
    <div class="fullrow infoinsert displayflexbetween">
      <div class="halfrow displayflexbetween fromtopadding">
        <p class="dataText text">Data:</p>
        <ion-input placeholder="21/11/19" class="data"></ion-input>
      </div>
      <div class="halfrow displayflexbetween">
        <p class="halfrow text">Alle:</p>
        <ion-input placeholder="23:00" class="halfrow"></ion-input>
      </div>
    </div>
    <div class="fullrow infoinsert displayflexbetween">
      <p class="halfrow text">Descrizione:</p>
      <ion-input placeholder="Descrizione" class="halfrow"></ion-input>
    </div>
    <div class="fullrow infoinsert displayflexbetween">
      <p class="text">Aggiungi tipologia evento:</p>
      <ion-fab horizontal="end" class="addType" #fab>
        <ion-fab-button class="menu">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button
            *ngFor="let fab of fabButtonsTop; let i = index"
            (click)="selectFabTop(i)"
          >
            <ion-icon
              [name]="fab.icon"
              [ngClass]="fab.isSelected ? 'selected' : 'unselected'"
            ></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
          <ion-fab-button
            *ngFor="let fab of fabButtonsLeft; let i = index"
            (click)="selectFabLeft(i)"
          >
            <ion-icon
              [name]="fab.icon"
              [ngClass]="fab.isSelected ? 'selected' : 'unselected'"
            ></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>

    <ion-button color="primary" class="button" (click)="presentModal()"
      >Invita gente</ion-button
    >
    <ion-button routerLink="/calendario" color="primary" class="button"
      >Conferma</ion-button
    >
  </div>
</ion-content>

<ion-footer no-border>
  <app-footer [isRed]="false"></app-footer>
</ion-footer>
