<ion-header no-border>
  <app-header
    [title]="'BAN LIST'"
    [isRed]="false"
    [isBackVisible]="false"
    [userName]="userName"
  ></app-header>
</ion-header>

<div class="spinnercontent" *ngIf="isLoading">
  <ion-spinner name="bubbles" color="primary"></ion-spinner>
</div>

<ion-content *ngIf="!isLoading">
  <div class="content">
    <app-ban-user *ngFor="let user of banList" [user]="user"></app-ban-user>
  </div>
</ion-content>

<ion-footer no-border>
  <app-footer></app-footer>
</ion-footer>
