ion-content {
  --ion-background-color: var(--primary-bg-color-white);
}

.profileContent {
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
}

.halfRow {
  width: 50%;
}

.row {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.userImgContent {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.userImg {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.detail {
  font-family: Rubik;
  font-size: small;
}

.gloria {
  font-family: Gloria;
}

.noMargin {
  margin: 0;
}
