.banContainer {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 3%;
  margin-left: 20%;
  width: 70%;
  font-family: Gloria;
}

.photo {
  width: 60px;
  height: 60px;
  background-color: gray;
  margin-right: 20px;
  border-radius: 100%;
}
