<ion-content>
  <ion-icon routerLink="/login" name="arrow-dropleft" class="back"></ion-icon>
  <p class="welcome">Bentornat*, topin*!</p>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-button routerLink="/calendario" color="primary" class="button"
    >Accedi</ion-button
  >
</ion-content>
<ion-footer no-border class="footer">
  <div class="footerimg"></div>
</ion-footer>
