<ion-content>
  <ion-icon routerLink="/login" name="arrow-dropleft" class="back"></ion-icon>
  <p class="welcome">Bentornat*, topin*!</p>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Username</ion-label>
    <ion-input [(ngModel)]="userName"></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Password</ion-label>
    <ion-input [(ngModel)]="psw" type="password"></ion-input>
  </ion-item>
  <ion-button
    (click)="login()"
    color="primary"
    class="button"
    [disabled]="!userName || !psw || isLoginDisabled"
    >Accedi</ion-button
  >
</ion-content>
<ion-footer no-border no-border class="footer">
  <ion-icon src="../../../assets/icon/LGBT-ok.svg" class="footerimg"></ion-icon>
</ion-footer>
