<div class="headerContaier" [ngClass]="{ red: isRed }">
  <div class="headerItem" [ngClass]="{ back: isBackVisible }">
    <button *ngIf="isBackVisible" class="backButton" [ngClass]="{ red: isRed }">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
  </div>
  <div class="pageTitleContaier headerItem">
    <div class="pageTitle" [ngClass]="{ white: isRed }">
      {{ title }}
    </div>
  </div>
  <div class="userNameContaier headerItem">
    <div class="status green"></div>
    <div class="userName">{{ userName }}</div>
  </div>
</div>
