<div class="headerContaier" [ngClass]="isRed ? 'red' : 'white'">
  <div class="headerItem" [ngClass]="{ back: isBackVisible }">
    <button
      *ngIf="isBackVisible"
      class="backButton"
      [ngClass]="isRed ? 'red' : 'white'"
    >
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
  </div>
  <div class="pageTitleContaier headerItem">
    <div class="pageTitle" [ngClass]="isRed ? 'white' : 'skyBlue'">
      {{ title }}
    </div>
  </div>
  <div class="userNameContaier headerItem">
    <div class="status green"></div>
    <div class="userName">{{ userName }}</div>
  </div>
</div>
