<ion-header no-border>
  <app-header
    [title]="'ACHIEVMENT'"
    [userName]="user"
    [isRed]="true"
    [isBackVisible]="true"
    [backTo]="'/achivment'"
  ></app-header>
</ion-header>

<ion-content>
  <div class="content">
    <p class="title">Achievement per "{{ achivmentTagName }}"</p>
    <div class="list-content">
      <ion-list>
        <ion-item *ngFor="let checkbox of checkboxList; let i = index">
          <p class="checkbox-text">{{ i }} - {{ checkbox.label }}</p>
          <ion-checkbox
            [checked]="checkbox.isChecked"
            slot="start"
            [color]="checkbox.color"
          ></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <app-footer [isRed]="true"></app-footer>
</ion-footer>
