<ion-header no-border>
  <app-header
    [title]="'Annales'"
    [userName]="userName"
    [isRed]="false"
    [isBackVisible]="false"
  ></app-header>
</ion-header>

<ion-content>
  <div class="content">
    <div class="historyContent">
      <div
        *ngFor="let history of histories"
        class="imgContent"
        (click)="navigateTo()"
      >
        <div class="img">{{ history.img }}</div>
        <p class="imgText">{{ history.detail }}</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <app-footer [isRed]="false"></app-footer>
</ion-footer>
