<ion-header no-border>
  <app-header
    [title]="'ANNALES'"
    [userName]="user"
    [isRed]="false"
    [isBackVisible]="false"
  ></app-header>
</ion-header>

<ion-content>
  <div class="content">
    <div class="historyContent">
      <div
        *ngFor="let history of histories"
        class="imgContent"
        (click)="navigateTo(history)"
      >
        <img class="img" [src]="history.img" />
        <p class="imgText">{{ history.name }}</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <app-footer [isRed]="false"></app-footer>
</ion-footer>
