.content {
  --background: var(--ion-color-primary);
}

.img {
  width: 80%;
  height: 275px;
  background: gray;
  margin: 20% 0 5% 10%;
}

.text {
  color: white;
  text-align: center;
  font-family: Gloria;
  font-size: 16px;
  margin-bottom: 5%;
}

.spinnercontent {
  width: 100%;
  margin-top: 5%;
  display: inline-flex;
  justify-content: center;
}

ion-spinner {
  --color: white;
  transform: scale(1.5);
}
