ion-content {
  --ion-background-color: var(--primary-bg-color-red);
}

.img {
  width: 80%;
  height: 275px;
  margin: 15% 0 0 10%;
  border-radius: 10px;
}

.text {
  color: white;
  text-align: center;
  font-family: Gloria;
  font-size: 16px;
  margin-bottom: 5%;
}

ion-spinner {
  --color: white;
  transform: scale(1.5);
}
