<ion-header no-border>
  <app-header
    [title]="'CALEN DARIO'"
    [userName]="user"
    [isRed]="true"
    [isBackVisible]="false"
  ></app-header>
</ion-header>

<ion-content>
  <div class="spinnercontent" style="margin-top: 150px;" *ngIf="isLoading">
    <ion-spinner name="bubbles" color="secondary"></ion-spinner>
  </div>
  <div *ngIf="!isLoading" class="content limited">
    <p class="noEvents" *ngIf="events.length === 0">
      Nessun evento disponibile
    </p>
    <ion-card
      color="light"
      *ngFor="let event of events"
      (click)="navigateToInfo(event)"
    >
      <ion-card-header>
        <ion-card-title>
          <div class="title">
            <p class="cardTitle">
              {{ event.name }}
            </p>
            <ion-icon
              name="hammer"
              style="font-size: 23px;"
              *ngIf="event.creator === userName"
            ></ion-icon>
            <ion-icon
              name="checkmark"
              style="font-size: 23px; color: var(--is-online);"
              *ngIf="event.isConfirmed && event.creator !== userName"
            ></ion-icon>
          </div>
          <ion-icon
            *ngFor="let icon of icons"
            [name]="icon"
            [ngClass]="hasType(icon, event.eventType) ? 'selected' : 'unselected'"
            class="eventType"
          ></ion-icon>
        </ion-card-title>
        <ion-card-subtitle>
          <p class="cardSubtitle">
            {{ getDateString(event.date, event.initHour) }}
          </p></ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </div>

  <ion-button *ngIf="!isLoading" routerLink="/calendario/info" class="button"
    >Crea evento</ion-button
  >
</ion-content>

<ion-footer no-border>
  <app-footer [isRed]="true"></app-footer>
</ion-footer>
