<ion-header no-border>
  <app-header
    [title]="'CALEN DARIO'"
    [userName]="user"
    [isRed]="true"
    [isBackVisible]="false"
  ></app-header>
</ion-header>

<ion-content>
  <div class="content limited">
    <p class="noEvents" *ngIf="events.length === 0">
      Nessun evento disponibile
    </p>
    <ion-card
      color="light"
      *ngFor="let event of events"
      (click)="navigateToInfo(event)"
    >
      <ion-card-header>
        <ion-card-title class="test">
          <div class="title">
            <p class="cardTitle">
              {{ event.name }}
              <ion-icon
                name="hammer"
                style="font-size: 23px;"
                *ngIf="event.creator === userName"
              ></ion-icon>
            </p>
          </div>
          <ion-icon
            *ngFor="let icon of icons"
            [name]="icon"
            [ngClass]="hasType(icon, event.type) ? 'selected' : 'unselected'"
            class="eventType"
          ></ion-icon>
        </ion-card-title>
        <ion-card-subtitle>
          <p class="cardSubtitle">
            {{ getDateString(event.date, event.initHour) }}
          </p></ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </div>

  <ion-button routerLink="/calendario/info" class="button"
    >Crea evento</ion-button
  >
</ion-content>

<ion-footer no-border>
  <app-footer [isRed]="true"></app-footer>
</ion-footer>
