<ion-header no-border>
  <app-header
    [title]="'Calendario'"
    [userName]="'Dario Risaliti'"
    [isRed]="true"
    [isBackVisible]="false"
  ></app-header>
</ion-header>

<ion-content>
  <div class="content limited">
    <ion-card
      color="light"
      *ngFor="let event of events"
      (click)="navigateToInfo()"
    >
      <ion-card-header>
        <ion-card-title class="test">
          <p class="cardTitle">{{ event.name }}</p>
        </ion-card-title>
        <ion-card-subtitle>
          <p class="cardSubtitle">{{ event.date }}</p></ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

<ion-footer no-border>
  <app-footer [isRed]="true"></app-footer>
</ion-footer>
