<ion-header no-border>
  <app-header
    [title]="'PRE SENZE'"
    [userName]="user"
    [isRed]="false"
    [isBackVisible]="false"
  ></app-header>
</ion-header>

<ion-content>
  <div class="content">
    <div class="profileContent" *ngIf="actualUserInfo">
      <!-- Profilo -->
      <div class="halfRow userImgContent">
        <img class="userImg" [src]="imgUrl" />
      </div>
      <div class="halfRow">
        <p class="gloria noMargin">
          {{ actualUserInfo.firstName + ' ' + actualUserInfo.lastName }}
        </p>
        <div class="row">
          <p class="detail noMargin">Presenze totali: &nbsp;</p>
          <p class="noMargin">{{ actualUserInfo.totalPoint }}</p>
        </div>
        <div class="row">
          <p class="detail noMargin">Presenze mensili: &nbsp;</p>
          <p class="noMargin">{{ actualUserInfo.monthPoint }}</p>
        </div>
        <div class="row">
          <p class="detail noMargin">Punti gay: &nbsp;</p>
          <p class="noMargin">{{ actualUserInfo.gayPoint }}</p>
        </div>
      </div>
    </div>

    <!-- Tabella -->
    <div class="table" *ngIf="usersInfo.length > 0">
      <div class="tableHeader">
        <p class="columnTitle gloria noMargin">Nome</p>
        <p class="columnTitle gloria noMargin">Presenze totali</p>
        <p class="columnTitle gloria noMargin">Presenze mensili</p>
        <p class="columnTitle gloria noMargin">Punti gay</p>
      </div>
      <div class="tableRows">
        <div *ngFor="let info of usersInfo; let i = index">
          <div
            class="tableRow"
            *ngIf="info.userName !== userName"
            [ngClass]="i % 2 === 0 ? 'even' : 'odd'"
          >
            <p class="value">{{ info.firstName + ' ' + info.lastName }}</p>
            <p class="value">{{ info.totalPoint }}</p>
            <p class="value">{{ info.monthPoint }}</p>
            <p class="value">{{ info.gayPoint }}</p>
          </div>
          <div class="tableRow redRow" *ngIf="info.userName === userName">
            <p class="value">{{ info.firstName + ' ' + info.lastName }}</p>
            <p class="value">{{ info.totalPoint }}</p>
            <p class="value">{{ info.monthPoint }}</p>
            <p class="value">{{ info.gayPoint }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <app-footer [isRed]="false"></app-footer>
</ion-footer>
