<ion-header no-border>
  <app-header
    [title]="'PRE SENZE'"
    [userName]="user"
    [isRed]="false"
    [isBackVisible]="false"
  ></app-header>
</ion-header>

<div class="spinnercontent" *ngIf="isLoading">
  <ion-spinner name="bubbles" color="primary"></ion-spinner>
</div>
<ion-content *ngIf="!isLoading">
  <div class="content">
    <!-- Profilo -->
    <div class="profileContent" *ngIf="actualUserInfo">
      <div class="halfRow userImgContent">
        <div class="spinnercontent" *ngIf="isLoadingImg">
          <ion-spinner name="bubbles" color="primary"></ion-spinner>
        </div>
        <img *ngIf="!isLoadingImg" class="userImg" [src]="imgUrl" />
      </div>
      <div class="halfRow">
        <p class="gloria noMargin">
          {{ actualUserInfo.firstName + ' ' + actualUserInfo.lastName }}
        </p>
        <div class="row">
          <p class="detail noMargin">Presenze totali: &nbsp;</p>
          <p class="noMargin">{{ actualUserInfo.totalPoint }}</p>
        </div>
        <div class="row">
          <p class="detail noMargin">Presenze mensili: &nbsp;</p>
          <p class="noMargin">{{ actualUserInfo.monthPoint }}</p>
        </div>
        <div class="row">
          <p class="detail noMargin">Punti gay: &nbsp;</p>
          <p class="noMargin">{{ actualUserInfo.gayPoint }}</p>
        </div>
      </div>
    </div>

    <!-- Tabella -->
    <div class="table" *ngIf="usersInfo.length > 0">
      <div class="tableHeader">
        <p class="specialColumnTitle gloria noMargin">Nome</p>
        <p class="columnTitle gloria noMargin">Pres. Annuali</p>
        <p class="columnTitle gloria noMargin">Punti Ghei</p>
        <p class="columnTitle gloria noMargin">Punti Pacco</p>
      </div>
      <div class="tableRows">
        <div *ngFor="let info of usersInfo; let i = index">
          <div
            class="tableRow"
            *ngIf="info.userName !== userName"
            (click)="goToDetail(info.userName)"
            [ngClass]="i % 2 === 0 ? 'even' : 'odd'"
          >
            <div class="starIcon">
              <ion-icon
                *ngIf="info.isStar"
                routerLink="/login"
                name="star-outline"
                class="star"
              ></ion-icon>
            </div>
            <p class="specialValue">
              {{ info.firstName + ' ' + info.lastName }}
            </p>
            <p class="value">
              {{ calcolaPuntiAnnoAttuale(info.pointsFrom2020) }}
            </p>
            <p class="value">{{ info.gayPoint }}</p>
            <p class="value">{{ info.napoliPoint }}</p>
          </div>
          <div
            class="tableRow redRow"
            (click)="goToDetail(info.userName)"
            *ngIf="info.userName === userName"
          >
            <div class="starIcon">
              <ion-icon
                *ngIf="info.isStar"
                routerLink="/login"
                name="star-outline"
                class="star"
              ></ion-icon>
            </div>
            <p class="specialValue">
              {{ info.firstName + ' ' + info.lastName }}
            </p>
            <p class="value">
              {{ calcolaPuntiAnnoAttuale(info.pointsFrom2020) }}
            </p>
            <p class="value">{{ info.gayPoint }}</p>
            <p class="value">{{ info.napoliPoint }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <app-footer [isRed]="false"></app-footer>
</ion-footer>
