<ion-header no-border>
  <app-header
    [title]="'Ask me'"
    [userName]="userName"
    [isRed]="true"
    [isBackVisible]="false"
  ></app-header>
</ion-header>

<ion-content>
  <div class="content">
    <div class="titleInputContent">
      <ion-item class="titleInput font-Gloria">
        <ion-label position="floating" class="font-Gloria"
          >Titolo richiesta</ion-label
        >
        <ion-input class="font-Gloria"></ion-input>
      </ion-item>
    </div>

    <div>
      <p class="textAreaLabel font-Gloria">Richiesta</p>
      <div class="textAreaContent">
        <ion-textarea [rows]="8" class="font-Gloria"></ion-textarea>
      </div>
    </div>

    <div class="buttonContent">
      <ion-button (click)="sendTodo()" class="whiteButton">Invia</ion-button>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <app-footer [isRed]="true"></app-footer>
</ion-footer>
