<ion-header no-border class="header">
  <ion-icon routerLink="/login" name="arrow-dropleft" class="back"></ion-icon>
  <div class="icon"></div>
</ion-header>
<ion-content>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Conferma password</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Nome</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Cognome</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button routerLink="/loading" color="primary" class="button"
    >Registrati
  </ion-button>
</ion-content>
