<ion-header no-border class="header">
  <ion-icon routerLink="/login" name="arrow-dropleft" class="back"></ion-icon>
  <ion-icon src="../../../assets/icon/edit.svg" class="icon"></ion-icon>
</ion-header>
<ion-content>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Username</ion-label>
    <ion-input [(ngModel)]="userName" [disabled]="isLoading"></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Password</ion-label>
    <ion-input
      [(ngModel)]="psw"
      type="password"
      [disabled]="isLoading"
    ></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Conferma password</ion-label>
    <ion-input
      [(ngModel)]="pswConfirm"
      type="password"
      [disabled]="isLoading"
    ></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Nome</ion-label>
    <ion-input [(ngModel)]="firstName" [disabled]="isLoading"></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label position="floating" class="primary">Cognome</ion-label>
    <ion-input [(ngModel)]="lastName" [disabled]="isLoading"></ion-input>
  </ion-item>
  <ion-button
    color="primary"
    class="button"
    (click)="registerUser()"
    [disabled]="
      !firstName ||
      !lastName ||
      !userName ||
      !psw ||
      !pswConfirm ||
      psw !== pswConfirm ||
      isLoading
    "
    >Registrati
  </ion-button>
</ion-content>
