<ion-header no-border>
  <app-header
    [title]="'ANNALES'"
    [userName]="'Dario Risaliti'"
    [isRed]="false"
    [isBackVisible]="true"
    [backTo]="'/annales'"
  ></app-header>
</ion-header>

<ion-content>
  <div class="content">
    <p class="title">{{ history.name }}</p>
    <img class="historyImg" [src]="history.img" />
    <p class="historyDetail">{{ history.date | date: 'dd/MM/yyyy' }}</p>
    <p class="historyDetail">
      {{ history.event }}
    </p>
  </div>
</ion-content>

<ion-footer no-border>
  <app-footer [isRed]="false"></app-footer>
</ion-footer>
