<ion-header no-border>
  <app-header
    [title]="'Annales'"
    [userName]="'Dario Risaliti'"
    [isRed]="false"
    [isBackVisible]="true"
    [backTo]="'/annales'"
  ></app-header>
</ion-header>

<ion-content>
  <div class="content">
    <p class="title">Titolo storia</p>
    <div class="historyImg"></div>
    <p class="historyDetail">
      Dettagli DettagliDettagliDettagliDettagliDettagliDettagliDettagliDettagli
      Dettagli Dettagli Dettagli DettagliDettaglia caso sulla storia
    </p>
  </div>
</ion-content>

<ion-footer>
  <app-footer [isRed]="false"></app-footer>
</ion-footer>
