<ion-header no-border>
  <app-header
    [title]="'ACHIVMENT'"
    [isRed]="false"
    [isBackVisible]="false"
    [userName]="userName"
  ></app-header>
</ion-header>

<div class="spinnercontent" *ngIf="isLoading">
  <ion-spinner name="bubbles" color="primary"></ion-spinner>
</div>

<ion-content *ngIf="!isLoading">
  <div class="content">
    <p class="text">Conteggio achivment:</p>
    <div class="total-content text">
      <p>Base: {{ totalAchivments[0] }}</p>
      <p>Argento: {{ totalAchivments[1] }}</p>
      <p>Oro: {{ totalAchivments[2] }}</p>
    </div>
    <div class="tagContent">
      <div
        *ngFor="let tag of achivmentTags"
        class="imgContent"
        (click)="navigateTo(tag)"
      >
        <img class="img" [src]="tag.img" />
        <p class="imgText">{{ tag.name }}</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <app-footer></app-footer>
</ion-footer>
