// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: Gloria;
  src: url(assets/fonts/gloria_hallelujah/gloriahallelujah.ttf)
    format('opentype');
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik/Rubik-Medium.ttf) format('opentype');
}

@font-face {
  font-family: XPlor;
  src: url(assets/fonts/xplor/XPLOR-Bold-Regular.otf) format('opentype');
}

:root {
  --ion-color-primary: #eb4357;
  --ion-color-secondary: #ffffff;
  --primary-bg-color-red: #eb4357;
  --primary-bg-color-white: #ffffff;
  --primary-bg-color-sky-blue: #a4e8ff;
  --secondary-gray: #c4c4c4;
  --is-online: rgb(19, 211, 19);
}

ion-content {
  --padding-top: 10px;
  --padding-bottom: 5px;
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary) !important;
}

.back {
  width: 50px;
  height: 50px;
  color: var(--secondary-gray);
}

.content {
  padding: 2% 3%;
}

.inviteModal {
  height: 500px;
  width: 90%;
  margin: 100px 5%;
  border-radius: 15px;
}
